<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Simular Saque </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form [formGroup]="form">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Mês do seu aniversário</ion-label>
          <ion-select interface="action-sheet" formControlName="birthdayMonth">
            <ion-select-option value="1">Janeiro</ion-select-option>
            <ion-select-option value="2">Fevereiro</ion-select-option>
            <ion-select-option value="3">Março</ion-select-option>
            <ion-select-option value="4">Abril</ion-select-option>
            <ion-select-option value="5">Maio</ion-select-option>
            <ion-select-option value="6">Junho</ion-select-option>
            <ion-select-option value="7">Julho</ion-select-option>
            <ion-select-option value="8">Agosto</ion-select-option>
            <ion-select-option value="9">Setembro</ion-select-option>
            <ion-select-option value="10">Outubro</ion-select-option>
            <ion-select-option value="11">Novembro</ion-select-option>
            <ion-select-option value="12">Dezembro</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Saldo atual do FGTS</ion-label>
          <ion-input type="number" formControlName="initialFgts"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Depósitos mensais</ion-label>
          <ion-input
            type="number"
            formControlName="monthlyDeposits"
          ></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          size="large"
          class="bt-calcular"
          (click)="onSubmit()"
          [disabled]="!form.valid"
          >Calcular Saque</ion-button
        >
      </ion-list>
    </form>
    <p>
      <ion-text
        ><ion-text color="warning"
          ><ion-icon name="warning"></ion-icon></ion-text
        >Você tem total sigilo ao usar esse aplicativo. Todos cálculos feitos
        são visualizados apenas pela pessoa que os fez.</ion-text
      >
    </p>
  </div>
</ion-content>
