.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bt-calcular {
  margin-top: 32px;
}

p {
  line-height: 1.4;
  margin-bottom: 0;

  ion-icon {
    margin: 0 2px -2px;
  }
}
